# external files
.DS_Store
*.pyc
*.swp
*~
*.vcxproj*

# cmake files
CMakeCache.txt
CMakeFiles
CTestTestfile.cmake
Makefile
cmake_install.cmake
cmake_uninstall.cmake
install_manifest.txt

# build files
*.a
*.so
*.dll
*.dylib
*_Test
*_Test_Jeffs
SimpleAbcViewer
abcview
build

# Build Folder
BUILD
